//! **************************************************************************
// Written by: Map P.15xf on Fri Jan 15 06:01:49 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Clk_pin" LOCATE = SITE "P8" LEVEL 1;
COMP "switches_pin<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "switches_pin<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "switches_pin<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "switches_pin<3>" LOCATE = SITE "H3" LEVEL 1;
COMP "switches_pin<4>" LOCATE = SITE "G2" LEVEL 1;
COMP "switches_pin<5>" LOCATE = SITE "K15" LEVEL 1;
COMP "switches_pin<6>" LOCATE = SITE "K16" LEVEL 1;
COMP "switches_pin<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "pantalla_0_vsyncb_pin" LOCATE = SITE "D8" LEVEL 1;
COMP "Rst_pin" LOCATE = SITE "K4" LEVEL 1;
COMP "pantalla_0_rgb_pin<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "pantalla_0_rgb_pin<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "pantalla_0_rgb_pin<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "pantalla_0_rgb_pin<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "pantalla_0_rgb_pin<4>" LOCATE = SITE "A5" LEVEL 1;
COMP "pantalla_0_rgb_pin<5>" LOCATE = SITE "C3" LEVEL 1;
COMP "pantalla_0_rgb_pin<6>" LOCATE = SITE "C8" LEVEL 1;
COMP "pantalla_0_rgb_pin<7>" LOCATE = SITE "D6" LEVEL 1;
COMP "pantalla_0_rgb_pin<8>" LOCATE = SITE "B1" LEVEL 1;
COMP "leds_pin<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "leds_pin<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "leds_pin<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "leds_pin<3>" LOCATE = SITE "N1" LEVEL 1;
COMP "leds_pin<4>" LOCATE = SITE "T13" LEVEL 1;
COMP "leds_pin<5>" LOCATE = SITE "L15" LEVEL 1;
COMP "leds_pin<6>" LOCATE = SITE "J13" LEVEL 1;
COMP "leds_pin<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "pantalla_0_hsyncb_pin" LOCATE = SITE "B7" LEVEL 1;
COMP "RX_pin" LOCATE = SITE "G5" LEVEL 1;
COMP "TX_pin" LOCATE = SITE "J2" LEVEL 1;
NET "Clk_pin_BUFGP/IBUFG" BEL "Clk_pin_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

